@model IEnumerable<NotesMarketPlace.ViewModel.DashboardProgress>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table class="table">
            <tr>
                <td>
                    Date
                </td>
                <td>
                    Title
                </td>
                <td>
                    Category
                </td>
                <td>
                    status
                </td>
            </tr>
            @foreach(var item in Model){
        <tr>

            if(@item.NoteDetails == @item.NoteDetails.SellerID){
            }
            if(@item.status.RefCategory == "Note Status"){
            if(@item.status.Value == "Published" && @item.staus.value == "Rejected")
            }
            <td>
                @item.NoteDetails.CreatedDate
            </td>
            <td>
                @item.NoteDetails.Title
            </td>

            <td>
                @item.Category.Name
            </td>
            <td>
                @item.status.DataValue
            </td>
        </tr>
            }
        </table>
    </div>
</body>
</html>
