@using PagedList;
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    <div class="User-Dashboard">
    
        <div class="row dashboard-1">
            <div class="col-md-12">
                @if(TempData["profile"] != null){
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>@TempData["profile"] !</strong> has not created his/her profile yet.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 }
            </div>
            <div class="col-md-12">
                @if(TempData["AdminDashboard"] != null){
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@TempData["AdminDashboard"] !</strong> @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 }
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                <h3>Dashboard</h3>

            </div>
        </div>
        <div class="dashboard-detail-2">
            <div class="flex-container-admin">
                <div style="flex-grow: 3" id="dash-admin-1">
                    <div>
                        <a href="/Admin/NotesUnderReview">
                            <h6 class="count">@TempData["AllUnderReviewNotes"] </h6><span>
                                Number of Notes in
                                Review for<br> Publish
                            </span>
                        </a>
                    </div>
                </div>
                <div style="flex-grow: 3">
                    <div>
                        <a href="/Admin/DownloadNotes">
                            <h6 class="count">@TempData["Last7DayDownloads"]</h6><span>
                                Number of New
                                Notes Downloaded <br>(Last 7
                                days)
                            </span>
                        </a>
                    </div>
                </div>
                <div style="flex-grow: 3" id="dash-admin-3">
                    <div>
                        <a href="/Admin/MembersAdmin">
                            <h6 class="count">@TempData["Last7DayRegistrations"]</h6><span>
                                Number of New
                                Registrations <br>(Last 7 days)
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-3">
        <div class="progress-notes-2">
            <div class="row progress-dashboard">
                <div class="col-md-3 admin-label">
                    <h3>Published Notes</h3>
                </div>
                <div class="col-md-9 search-label">
                    <div class="progress-note-btn">
                        @using(Html.BeginForm("Dashboard","Admin",FormMethod.Get,new{id="AllSeachNote"}))
                        {
                        <div class="row">
                            <div class="col-md-9 text-right">
                                <div>

                                    <input type="text" name="SearchPublished" id="search-enter-progress" placeholder="Search" title="Type
                                                            in a name">
                                    <button type="submit">Search</button>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="select-month">
                                    <div class="form-group">
                                        @* @Html.DropDownList("linktoMonthId", null, "--Select--", new{ @id = "ddlMonths",@class = "form-control", @name = "linktoMonthId",onchange="NoteFunction();"})*@

                                        @Html.DropDownList("SelectMonth", (SelectList)ViewBag.SelectMonth,"--Select Month--",new { id = "SelectMonth",name = "SelectMonth", @class = "form-control",onchange="NoteFunction();" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="progress-table" style="overflow-x:auto;">
            <table class="table" id="dashboard-table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">SR NO.</th>
                        <th scope="col">@Html.ActionLink("TITLE", "Dashboard", new { SortOrderPublished=ViewBag.TitleSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("CATEGORY", "Dashboard", new { SortOrderPublished=ViewBag.CategorySortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("ATTACHMENT SIZE", "Dashboard", new { SortOrderPublished=ViewBag.SizeSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("SELL TYPE", "Dashboard", new { SortOrderPublished=ViewBag.SellTypeSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("PRICE", "Dashboard", new { SortOrderPublished=ViewBag.PriceSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("PUBLISHER", "Dashboard", new { SortOrderPublished=ViewBag.PublisherSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("PUBLISH DATE", "Dashboard", new { SortOrderPublished=ViewBag.DateSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("NUMBER OF DOWNLOADS", "Dashboard", new { SortOrderPublished=ViewBag.DownloadsSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @{

          IPagedList<NotesMarketPlace.Models.AllPublishedNote> Published = ViewBag.PublishedNote;
                    }

                    @{
         var count = 0;
         if (Published.Count == 0)
                 {
                        <tr>
                            <td colspan="10" class="text-center NoRecord">No Records Found</td>
                        </tr>
                 }
                    }
                    @foreach(var item in Published)
                     {

                    <tr>
                        <td>@(count + ((Published.PageNumber - 1) * Published.PageSize) + 1)</td>
                        @*<td>
                                @item.NoteDetails.CreatedDate
                            </td>*@

                        <td>
                            <a href="/Admin/NoteDetailsAdmin/@item.NoteDetails.SellerNotesID">  @item.NoteDetails.Title</a>
                        </td>
                        <td>
                            @item.Category.Name
                        </td>
                        <td>@item.attachment.AttachmentSize KB</td>
                        <td>
                            @if (@item.NoteDetails.IsPaid == true)
                                    {
                            <p>Paid</p>
                                    }
                                    else
                                    {
                            <p>Free</p>
                                    }
                        </td>
                        <td>
                            @if (@item.NoteDetails.IsPaid == true)
                                    {
                            <p> $ <span class="count"> @item.NoteDetails.SellingPrice</span></p>
                                    }
                                    else
                                    {
                            <p>$0</p>
                                    }
                        </td>
                        <td>@item.user.FirstName @item.user.LastName</td>

                        <td>
                            @*@item.NoteDetails.PublishedDate.Value.ToLongDateString.ToString()*@
                            @item.NoteDetails.PublishedDate.Value.ToString("dd-MM-yyyy, HH:mm")
                        </td>

                        <td class="text-center"><a href="/Admin/DownloadNotes?Search=@item.NoteDetails.Title" class="count">@item.NoteDetails.Downloads.Where(x=>x.NoteID == @item.NoteDetails.SellerNotesID && x.IsSellerHasAllowedDownload == true && x.AttachmentPath != null && x.IsAttachmentDownloaded == true).Count()</a></td>
                        <td>
                            <div class="dropdown admin-table">
                                <a class="dropbtn"><img src="~/Content/admin/images/Dashboard/three-dot.png" alt="delete-icon" /></a>
                                <div class="dropdown-content">
                                    <a href="/Admin/DownloadAttechedFile/@item.NoteDetails.SellerNotesID">
                                        Download
                                        Notes
                                    </a>
                                    <a href="/Admin/NoteDetailsAdmin/@item.NoteDetails.SellerNotesID">
                                        View More
                                        Details
                                    </a>
                                    <a href="" data-toggle="modal" data-target="#@item.NoteDetails.SellerNotesID-unpublish">Unpublish</a>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade reject-modal" id="@item.NoteDetails.SellerNotesID-unpublish" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">@item.NoteDetails.Title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @using(Html.BeginForm("Unpublished/"+ @item.NoteDetails.SellerNotesID,"Admin",FormMethod.Get,new{id="AllSeachNote"}))
                                        {
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <div class="justify-content-start">
                                                        <h6>
                                                            <br>
                                                            Remarks
                                                        </h6>
                                                    </div>
                                                    <textarea class="form-control" name="Remarks" id="exampleFormControlTextarea1" rows="5" placeholder="Write Remarks" required></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-end">
                                                <button class="btn btn-danger" type="submit" id="reject-button">Unpublish</button>
                                                <button class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
                                            </div>
                                        }
                                        </div>
                                    </div>
                                </div>
                        </td>
                    </tr>
                                        {count = count+1;}
                                        }
                </tbody>
            </table>
        </div>
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(Published, PublishedNotespage=> Url.Action("Dashboard",new{PublishedNotespage,
                     SearchPublished = Request.QueryString["SearchPublished"],
                    SortOrderPublished = Request.QueryString["SortOrderPublished"]

                        })
                     ,new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true,MaximumPageNumbersToDisplay = 5}
                     )

                </div>
            </div>
        </div>
    </div>
</div>


