@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketPlace.Models.MyDownloadNote>

<div id="My-Downloads-notes" class="container">
    <div class="progress-3">
        <div class="progress-notes">
            <div class="row progress-dashboard ">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <h3>My Downloads</h3>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <div class="progress-note-btn">
                        @using(Html.BeginForm("MyDownloads","Member",FormMethod.Get,new{id="AllSeachNote"}))
                        {
                        <input type="text" name="SearchNoteTitle" id="search-enter-progress" placeholder="Search" title="Type
                  in a name">
                        <a href=""><button type="submit">Search</button></a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="progress-table" style="overflow-x:auto;">
            <table class="table" id="my-download-note">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">sr no.</th>
                        <th scope="col"> @Html.ActionLink("Note Title", "MyDownloads", new { SortOrder=ViewBag.TitleSortParm,SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                        <th scope="col"> @Html.ActionLink("CATEGORY", "MyDownloads", new { SortOrder=ViewBag.CategorySortParm,SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                        <th scope="col">buyer</th>
                        <th scope="col">@Html.ActionLink("Sell Type", "MyDownloads", new { SortOrder=ViewBag.SellTypeSortParm,SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                        <th scope="col">@Html.ActionLink("price", "MyDownloads", new { SortOrder=ViewBag.PriceSortParm,SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                        <th scope="col">@Html.ActionLink("Downloaded date/time", "MyDownloads", new { SortOrder=ViewBag.DateSortParm,SearchNoteTitle = Request.QueryString["SearchNoteTitle"] })</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        var count = 0;

                      if (Model.Count == 0)
                                {
                        <tr>
                            <td colspan="9" class="text-center NoRecord">No Records Found</td>
                        </tr>
                                }

                        foreach(var Note in Model)
                        {
                <tr>
                    <td>@(count + ((Model.PageNumber - 1) * Model.PageSize) + 1)</td>
                    <td><a href="/HomePage/NoteDetails/@Note.DownloadNote.NoteID"> @Note.DownloadNote.NoteTitle</a></td>
                    <td>@Note.DownloadNote.NoteCategory</td>
                    <td>@Note.BuyerDetail.EmailID</td>

                    <td>
                        @if(@Note.DownloadNote.IsPaid == true){
                        <text>Paid</text>
                            }else{
                        <text>Free</text>
                            }
                    </td>
                    <td>$<span class="count">@Note.DownloadNote.PurchasedPrice</span></td>
                    <td>@Note.DownloadNote.CreatedDate</td>
                    <td>
                        <a href="/HomePage/NoteDetails/@Note.DownloadNote.NoteID"><img src="~/Content/images/Dashboard/eye.png" class="edit-action" alt="edit-icon" /></a>
                        <div class="dropdown my-download">
                            <a class="dropbtn"><img src="~/Content/images/Dashboard/three-dot.png" alt="delete-icon" /></a>
                            <div class="dropdown-content">
                                <a href="/Member/DownloadAttechedFile/@Note.DownloadNote.NoteID">Download Note</a>
                                <a href="#" data-toggle="modal" data-target="#@Note.DownloadNote.DownloadsID-Review">Add Reviews/Feedback</a>
                                <a href="#" data-toggle="modal" data-target="#@Note.DownloadNote.DownloadsID-Issues">Report as inapproprite</a>
                            </div>
                        </div>


                        <div class="modal fade Review-modal" id="@Note.DownloadNote.DownloadsID-Review" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Add
                                            Review
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    @using(Html.BeginForm("NoteReview/"+ @Note.DownloadNote.DownloadsID,"Member",FormMethod.Get,new{id="AllSeachNote"}))
                                        {
                                    <div class="modal-body">
                                        <div id="review-rating">
                                            <div class="rate">
                                                <input type="radio" id="@Note.DownloadNote.DownloadsID-star1" name="Ratings" value="1" />
                                                <label for="@Note.DownloadNote.DownloadsID-star1" title="text">1 stars</label>
                                                <input type="radio" id="@Note.DownloadNote.DownloadsID-star2" name="Ratings" value="2" />
                                                <label for="@Note.DownloadNote.DownloadsID-star2" title="text">2 stars</label>
                                                <input type="radio" id="@Note.DownloadNote.DownloadsID-star3" name="Ratings" value="3" />
                                                <label for="@Note.DownloadNote.DownloadsID-star3" title="text">3 stars</label>
                                                <input type="radio" id="@Note.DownloadNote.DownloadsID-star4" name="Ratings" value="4" />
                                                <label for="@Note.DownloadNote.DownloadsID-star4" title="text">4 stars</label>
                                                <input type="radio" id="@Note.DownloadNote.DownloadsID-star5" name="Ratings" value="5" />
                                                <label for="@Note.DownloadNote.DownloadsID-star5" title="text">5 star</label>
                                            </div>
                                            <br><br>
                                        </div>
                                        <div id="review-write">
                                           
                                                <div class="form-group">
                                                    <div class="justify-content-start">
                                                        <h6>
                                                            <br>
                                                            Comments *
                                                        </h6>
                                                    </div>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Comments" placeholder="comments..."></textarea>
                                                </div>
                                       
                                        </div>
                                    </div>
                                    
                                    <div class="modal-footer justify-content-start">
                                        <div class="add-note-btn">
                                            <button type="submit">Submit</button>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade reject-modal" id="@Note.DownloadNote.DownloadsID-Issues" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">@Note.DownloadNote.NoteTitle</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                     @using(Html.BeginForm("ReportedIssues/"+ @Note.DownloadNote.DownloadsID,"Member",FormMethod.Get,new{id="AllSeachNote"}))
                                        {
                                    <div class="modal-body"> 
                                            <div class="form-group">
                                                <div class="justify-content-start">
                                                    <h6>
                                                        <br>
                                                        Remarks
                                                    </h6>
                                                </div>
                                               @* @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control",name="Remarks", rows = "5", @placeholder = "Write Remarks" })
                                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger errormessage error_field" })*@
                                                <textarea class="form-control"name="Remarks" id="exampleFormControlTextarea1" rows="5" placeholder="Write Remarks" required></textarea>
                                          
                                            </div>
                                             
                                    </div>
                                    <div class="modal-footer justify-content-end">
                                        <button class="btn btn-danger" type="submit" id="reject-button">Report an issue</button>
                                        <button class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                        {count = count+1;}
                        }
                    }
  

                </tbody>
            </table>
        </div>
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">

                    @Html.PagedListPager(Model, page => Url.Action("MyDownloads",new{page,
                  SearchNoteTitle = Request.QueryString["SearchNoteTitle"],
                   SortOrder = Request.QueryString["SortOrder"]
                 })
               ,new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true}
               )
                    @*<a href="#"><i class="fa fa-angle-left"></i></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#"><i class="fa fa-angle-right"></i></a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!--<div class="modal fade Review-modal" id="Add-Review-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Add
                    Review
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="review-rating">
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>-->
                    <!-- <br><br> -->
                <!--</div>
                <div id="review-write">
                    <form action="">
                        <div class="form-group">
                            <div class="justify-content-start">
                                <h6>
                                    <br>
                                    Comments *
                                </h6>
                            </div>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="comments..."></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <div class="add-note-btn">
                    <a href=""><button>Submit</button></a>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Modal -->
<!--<div class="modal fade reject-modal" id="inapproprite-Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Social Studies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <div class="justify-content-start">
                            <h6>
                                <br>
                                Remarks
                            </h6>
                        </div>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Write Remarks" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-end">
                <button class="btn btn-danger" id="reject-button">Report an issue</button>
                <button class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>-->