@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketPlace.Models.NoteCategories>

@{
   IEnumerable<NotesMarketPlace.Models.Users> user = ViewBag.Users;
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container manage-admin">
    <div class="User-Dashboard">
        <div class="row dashboard-1">
            <div class="col-md-12">
                @if(TempData["Category"] != null){
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@TempData["Category"] !</strong> @TempData["Message"].
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 }
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                <h3>Manage Category</h3>
            </div>
        </div>
    </div>
    <div class="progress-3">
        <div class="progress-notes-2">
            <div class="row progress-dashboard">
                <div class="col-md-3 admin-label">
                    <button id="add-category"><a href="/Admin/AddCategory">add category</a></button>
                </div>
                <div class="col-md-9 search-label text-right">
                    @using(Html.BeginForm("Categories","Admin",FormMethod.Get))
                        {
                    <div class="progress-note-btn">
                        <input type="text" name="Search" id="search-enter-progress" placeholder="Search" title="Type in a name">
                        <button type="submit">Search</button>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="progress-table" style="overflow-x:auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">SR NO.</th>
                        <th scope="col">@Html.ActionLink("CATEGORY", "Categories", new { SortOrder=ViewBag.NameSortParam,Search = Request.QueryString["Search"] })</th>
                        <th scope="col">@Html.ActionLink("DESCRIPTION", "Categories", new { SortOrder=ViewBag.DescriptionSortParam,Search = Request.QueryString["Search"] })</th>
                        <th scope="col">@Html.ActionLink("DATE ADDED", "Categories", new { SortOrder=ViewBag.DateSortParam,Search = Request.QueryString["Search"] }) </th>
                        <th scope="col">@Html.ActionLink("ADDED BY", "Categories", new { SortOrder=ViewBag.AddedBySortParam,Search = Request.QueryString["Search"] }) </th>
                        <th scope="col">ACTIVE</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                    var count = 0;
                        if (Model.Count == 0)
                                {
                        <tr>
                            <td colspan="7" class="text-center NoRecord">No Records Found</td>
                        </tr>
                                }
                    }
                    @foreach(var item in Model)
                                {

                    <tr>
                        <td class="text-center">@(count + ((Model.PageNumber - 1) * Model.PageSize) + 1)</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            @item.ModifiedDate.Value.ToString("dd-MM-yyyy, HH:mm")
                        </td>
                        <td>@user.Where(x=>x.UserID == @item.ModifiedBy).Select(y=>y.FirstName +" "+ y.LastName).FirstOrDefault()</td>
                        <td>
                            @if(@item.IsActive == true){
                            <text>YES</text>
                            }else{
                            <text>NO</text>
                            }
                        </td>
                        <td>
                            <a onclick="return confirm('Are you sure you want to make this category Edit?')" href="/Admin/EditCategory/@item.CategoryID"> <img src="~/Content/Admin/images/Dashboard/edit.png" class="action-1" alt=""></a>
                            <a onclick="return confirm('Are you sure you want to make this category inactive?')" href="/Admin/DeleteCategory/@item.CategoryID"> <img src="~/Content/Admin/images/Dashboard/delete-2.png" alt=""></a>
                        </td>
                    </tr>

                    {count = count+1;}

                    }
                </tbody>
            </table>
        </div>
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">

                    @Html.PagedListPager(Model, page => Url.Action("Categories",new{page,
                  Search = Request.QueryString["Search"],
                   SortOrder = Request.QueryString["SortOrder"]
                 })
               ,new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true,MaximumPageNumbersToDisplay = 5}
               )

                </div>
            </div>
        </div>
    </div>
</div>