@using PagedList;
@using PagedList.Mvc;


<div class="container">
    <div class="User-Dashboard">
        <div class="row dashboard-1">
            <div class="col-md-12">
                @if(TempData["internetnotconnected"] != null){
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>@TempData["internetnotconnected"] !</strong> You Are Offline, Please Check Your Internet!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 }
                @if(TempData["Dashboard"] != null){
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@TempData["Dashboard"]</strong> @TempData["Message"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                 }
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                
                <h3>Dashboard</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <div class="add-note-btn">
                    <button><a href="/Member/AddNote">add note</a></button>
                </div>
            </div>
        </div>
        <div class="dashboard-detail-2">
            <div class="flex-container-2">
                <div style="flex-grow: 5" id="dash-4">
                    <div class="dash-user-1">
                        <!-- <h6>My Earning</h6> -->

                        <img src="~/Content/images/Dashboard/dashboard.png" id="img-4" alt=""><br>
                        <span id="earning">My Earning</span>
                    </div>
                </div>
                <div style="flex-grow: 6" id="box-2">
                    <div class="dash-user-1">
                        <a href="/Member/MySoldNotes">
                            <h6 class="count">@TempData["TotalMySoldRecords"]</h6><span>
                                Number
                                of Notes Sold
                            </span>
                        </a>
                    </div>
                </div>
                <div style="flex-grow: 6" id="box-3">
                    <div class="dash-user-1">
                        <a href="/Member/MySoldNotes">
                            <h6>$<span class="count">@TempData["TotalEarning"]</span></h6><span>
                                Money Earned
                            </span>
                        </a>
                    </div>
                </div>
                <div style="flex-grow: 4">
                    <div class="dash-user-1">
                        <a href="/Member/MyDownloads">
                            <h6 class="count">@TempData["TotalMyDownlodRecords"]</h6><span>
                                My Downloads
                            </span>
                        </a>
                    </div>
                </div>
                <div style="flex-grow: 4">
                    <div class="dash-user-1">
                        <a href="/Member/MyRejectedNote">
                            <h6 class="count">@TempData["TotalMyRejectRecords"]</h6><span>
                                My Rejected Notes
                            </span>
                        </a>
                    </div>
                </div>
                <div style="flex-grow: 4" id="dash-3">
                    <div class="dash-user-1">
                        <a href="/Member/BuyerRequest">
                            <h6 class="count">@TempData["TotalBuyerRecords"]</h6><span>
                                Buyer
                                Requests
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-3">
        <div class="progress-notes-2">
            <div class="row progress-dashboard">
                <div class="col-md-6 text-left">
                    <h3>In Progress Notes</h3>
                </div>
                <div class="col-md-6 text-right">
                    <div class="progress-note-btn">
                        @using(Html.BeginForm("Dashboard","Member",FormMethod.Get))
                        {
                        <input type="text" name="SearchText" id="search-enter-progress" placeholder="Search" title="Type
                                    in a name">  <a href=""><button type="submit" value="search">Search</button></a>
                                    }
                    </div>
                </div>
            </div>
        </div>
        <div class="progress-table" style="overflow-x:auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">@Html.ActionLink("ADD DATE", "Dashboard", new { SortOrderProgress=ViewBag.DateSortParm,SearchText = Request.QueryString["SearchText"] })</th>
                        <th scope="col">@Html.ActionLink("Title", "Dashboard", new { SortOrderProgress=ViewBag.TitleSortParm,SearchText = Request.QueryString["SearchText"] }) </th>
                        <th scope="col">@Html.ActionLink("CATEGORY", "Dashboard", new { SortOrderProgress=ViewBag.CategorySortParm,SearchText = Request.QueryString["SearchText"] })</th>
                        <th scope="col">@Html.ActionLink("STATUS", "Dashboard", new { SortOrderProgress=ViewBag.StatusSortParm,SearchText = Request.QueryString["SearchText"] })</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                      IPagedList<NotesMarketPlace.Models.InProgressNote> InProgress = ViewBag.ProgressNote;
                     IPagedList<NotesMarketPlace.Models.PublishedNote> Published = ViewBag.PublishedNote;
                    }


                    @if (InProgress.Count == 0)
                            {
                    <tr>
                        <td colspan="5" class="text-center NoRecord">No Records Found</td>
                    </tr>
                            }

                    @foreach(var Note in InProgress)
                                {

                    <tr>
                       
                        <td>
                            @Note.NoteDetails.CreatedDate.Value.ToShortDateString()
                        </td>
                        <td> @Note.NoteDetails.Title</td>
                        <td> @Note.Category.Name</td>
                        <td> @Note.status.Value</td>

                        <td>
                            @if(@Note.status.Value == "Draft")
                                        {

                            <a href="/Member/EditNote/@Note.NoteDetails.SellerNotesID"><img src="~/Content/images/Dashboard/edit.png" class="action-1" alt=""></a>
                            <a href="/Member/DeletNote/@Note.NoteDetails.SellerNotesID" onclick="return confirm('Are you sure you want to delete this item?');">

                                <img src="~/Content/images/Dashboard/delete-2.png" alt="">
                            </a>
                                }
                                else{
                            <a href="/HomePage/NoteDetails/@Note.NoteDetails.SellerNotesID">
                                <img src="~/Content/images/Dashboard/eye.png" alt="">
                            </a>
                                }
                        </td>
                    </tr>

                                }
                </tbody>
            </table>
        </div>
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                   
                    @Html.PagedListPager(InProgress, ProgressNotespage => Url.Action("Dashboard",new{ProgressNotespage,
                  SearchText = Request.QueryString["SearchText"],
                    SortOrderProgress = Request.QueryString["SortOrderProgress"]

                    })
                  ,new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true,MaximumPageNumbersToDisplay = 5}
                  )

                </div>
            </div>
        </div>
    </div>
    <div class="progress-3">
        <div class="progress-notes-2">
            <div class="row progress-dashboard">
                <div class="col-md-6 text-left">
                    <h3>Published Notes</h3>
                </div>
                <div class="col-md-6 text-right">
                    <div class="progress-note-btn">
                     
                        @using(Html.BeginForm("Dashboard","Member",FormMethod.Get))
                        {
                        <input type="text" name="SearchPublished" id="search-enter-progress" placeholder="Search" title="Type
                                    in a name">
                        <a href=""><button type="submit">Search</button></a>
                        }
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="progress-table" style="overflow-x:auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">@Html.ActionLink("ADD DATE", "Dashboard", new { SortOrderPublished=ViewBag.DateSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("TITLE", "Dashboard", new { SortOrderPublished=ViewBag.TitleSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("CATEGORY", "Dashboard", new { SortOrderPublished=ViewBag.CategorySortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("SELL TYPE", "Dashboard", new { SortOrderPublished=ViewBag.SellTypeSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("PRICE", "Dashboard", new { SortOrderPublished=ViewBag.PriceSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Published.Count == 0)
                            {
                    <tr>
                        <td colspan="6" class="text-center NoRecord">No Records Found</td>
                    </tr>
                            }

                    @foreach(var item in Published)
                                {
                    <tr>
                        <td>
                            @item.NoteDetails.PublishedDate.Value.ToShortDateString()
                        </td>
                        <td>
                            @item.NoteDetails.Title
                        </td>
                        <td>
                            @item.Category.Name
                        </td>
                        <td>
                            @if (@item.NoteDetails.IsPaid == true)
                                    {
                            <p>Paid</p>
                                    }
                                    else
                                    {
                            <p>Free</p>
                                    }
                        </td>

                        <td>
                            @if (@item.NoteDetails.IsPaid == true)
                                    {
                            <p> $ <span class="count"> @item.NoteDetails.SellingPrice</span></p>
                                    }
                                    else
                                    {
                            <p>$0</p>
                                    }
                        </td>
                        <td>
                            <a href="/HomePage/NoteDetails/@item.NoteDetails.SellerNotesID"> <img src="~/Content/images/Dashboard/eye.png" class="action-1" alt=""></a>
                        </td>
                    </tr>

                                }

                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination-section">
        <div class="pagination-notes">
            <div class="pagination-number">
                @Html.PagedListPager(Published, PublishedNotespage=> Url.Action("Dashboard",new{PublishedNotespage,
                 SearchPublished = Request.QueryString["SearchPublished"],
                SortOrderPublished = Request.QueryString["SortOrderPublished"]

                    })
                 ,new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true,MaximumPageNumbersToDisplay = 5}
                 )

            </div>
        </div>
    </div>
</div>


