@using PagedList;
@using PagedList.Mvc;

<div id="My-Sold-notes" class="container">
    <div class="progress-3">
        <div class="progress-notes">
            <div class="row progress-dashboard ">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @if(TempData["RejectedNote"] != null){
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@TempData["RejectedNote"]</strong> @TempData["Message"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                 }
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <h3>My Rejected Notes</h3>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <div class="progress-note-btn">
                        @using(Html.BeginForm("MyRejectedNote","Member",FormMethod.Get,new{id="AllSeachNote"}))
                        {
                        <input type="text" name="SearchNoteTitle" id="search-enter-progress" placeholder="Search" title="Type in a name">
                        <button type="submit">Search</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="progress-table" style="overflow-x:auto;">
            <table class="table" id="my-reject-note">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">sr no.</th>
                        <th scope="col">@Html.ActionLink("Title", "MyRejectedNote", new { SortOrderProgress=ViewBag.TitleSortParm,SearchText = Request.QueryString["SearchText"] }) </th>
                        <th scope="col">@Html.ActionLink("CATEGORY", "MyRejectedNote", new { SortOrderProgress=ViewBag.CategorySortParm,SearchText = Request.QueryString["SearchText"] })</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">@Html.ActionLink("Rejected DATE", "MyRejectedNote", new { SortOrderProgress=ViewBag.DateSortParm,SearchText = Request.QueryString["SearchText"] })</th>
                        <th scope="col">CLONE</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>

                    @{
                      IPagedList<NotesMarketPlace.Models.RejectedNote> Rejected = ViewBag.MyRejectedNote;

                    }
                    @{
                        var count = 0;

                      if (Rejected.Count == 0)
                                {
                        <tr>
                            <td colspan="6" class="text-center NoRecord">No Records Found</td>
                        </tr>
                                }

                        foreach(var Note in Rejected)
                        {

                        <tr>
                            <td>@(count + ((Rejected.PageNumber - 1) * Rejected.PageSize) + 1)</td>
                            <td><a href="/HomePage/NoteDetails/@Note.NoteDetails.SellerNotesID"> @Note.NoteDetails.Title</a></td>
                            <td> @Note.Category.Name</td>
                            <td> @Note.NoteDetails.AdminRemarks</td>
                            <td>

                                @Note.NoteDetails.ModifiedDate.Value.ToString("dd MMM yyyy, HH:mm:ss")
                            </td>
                            <td><a onclick="return confirm('Are You Sure For Clone !!')"  href="/Member/Clone/@Note.NoteDetails.SellerNotesID" > Clone</a></td>
                            <td>
                                <div class="dropdown my-sold-notes">
                                    <a class="dropbtn"><img src="~/Content/images/Dashboard/three-dot.png" alt="delete-icon" /></a>
                                    <div class="dropdown-content">
                                        <a href="/Member/AttechedFile/@Note.NoteDetails.SellerNotesID">Download Note</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                            {count = count+1;}
                        }
                    }

                </tbody>
            </table>
        </div>
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">

                    @Html.PagedListPager(Rejected, page => Url.Action("MyRejectedNote",new{page,
              SearchText = Request.QueryString["SearchText"],
                SortOrderProgress = Request.QueryString["SortOrderProgress"]

                })
              ,new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true,MaximumPageNumbersToDisplay = 5}
              )

                </div>
            </div>
        </div>
    </div>
</div>