@using PagedList;
@using PagedList.Mvc;

@*@{
       IPagedList<NotesMarketPlace.Models.InProgressNote> Member = ViewBag.MemberDetails;
    }*@

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container members" id="members-pad">
    <div class="member-details">
        <div>
            <h3>Member Details</h3>
        </div>
        <div>
            <div class="row" id="h-line">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2 details-img"><img src="@ViewBag.MemberDetails.ProfilePicture" alt=""></div>
                        <div class="col-md-5 details-1" id="v-line">
                            <div class="row">
                                <div class="col-md-5 m-title">
                                    First Name:
                                </div>
                                <div class="col-md-7 m-value">
                                    @ViewBag.User.FirstName
                                     @ViewBag.User.UserID
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 m-title">
                                    Last
                                    Name:
                                </div>
                                <div class="col-md-7 m-value">
                                    @ViewBag.User.LastName
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-md-5 m-title">
                                    Email:
                                </div>
                                <div class="col-md-7 m-value">
                                    @ViewBag.User.EmailID
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 m-title">
                                    DOB:
                                </div>
                                <div class="col-md-7 m-value">
                                    @if(@ViewBag.MemberDetails.DOB != null){
                                    @ViewBag.MemberDetails.DOB.ToString("dd-MM-yyyy")
                                    }else{
                                        <text>N/A</text>
                                    }

                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-5 m-title">
                                    Phone Number:
                                </div>
                                <div class="col-md-7 m-value">
                                    +@ViewBag.MemberDetails.PhoneNumberCountryCode @ViewBag.MemberDetails.PhoneNumber
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5  m-title">
                                    College/University:
                                </div>
                                <div class="col-md-7 m-value">
                                    @if(@ViewBag.MemberDetails.College != null){
                                    if(@ViewBag.MemberDetails.University !=null){
                                    @ViewBag.MemberDetails.College<text> / </text>@ViewBag.MemberDetails.University;
                                    }else{
                                    @ViewBag.MemberDetails.College<text> / N/A</text>;
                                    }
                                    }else{
                                    if(@ViewBag.MemberDetails.University !=null){
                                    <text>N/A / </text>@ViewBag.MemberDetails.University;
                                    }else{
                                    <text>N/A</text>;
                                    }
                               
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 details-2">
                            <div class="row">
                                <div class="col-md-5 m-title">
                                    Address 1:
                                </div>
                                <div class="col-md-7 m-value">
                                    @ViewBag.MemberDetails.AddressLine1
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 m-title">
                                    Address 2:
                                </div>
                                <div class="col-md-7 m-value">
                                    @ViewBag.MemberDetails.AddressLine2
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 m-title">
                                    City:
                                </div>
                                <div class="col-md-7 m-value">
                                    @ViewBag.MemberDetails.City
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 m-title">
                                    State:
                                </div>
                                <div class="col-md-7 m-value">
                                    @ViewBag.MemberDetails.State
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 m-title">
                                    Country:
                                </div>
                                <div class="col-md-7  m-value">
                                    @ViewBag.MemberDetails.Country
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 m-title">
                                    Zip Code:
                                </div>
                                <div class="col-md-7 m-value">
                                    @ViewBag.MemberDetails.ZipCode
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-3">
        <div class="progress-notes-2" id="members-details">
            <div class="row progress-dashboard">
                <div class="col-md-3 admin-label">
                    <h3>Notes</h3>
                </div>
               @* <div class="col-md-9 search-label
                                        text-right">
                    <div class="progress-note-btn">
                        @using(Html.BeginForm("MemberDetails/"+@ViewBag.User.UserID,"Admin",FormMethod.Post))
                        {
                        <input type="text" name="SearchPublished" id="search-enter-progress" placeholder="Search" title="Type
                                                in a name">
                        <button type="submit">Search</button>
                        }
                    </div>
                </div>*@
            </div>
        </div>
        <div class="progress-table" style="overflow-x:auto;">
            <table class="table" id="members-details-table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">SR NO.</th>
                        <th scope="col">@Html.ActionLink("TITLE", "MemberDetails", new { SortOrderPublished=ViewBag.TitleSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("CATEGORY", "MemberDetails", new { SortOrderPublished=ViewBag.CategorySortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("STATUS", "MemberDetails", new { SortOrderPublished=ViewBag.StatusSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("DOWNLOADED NOTES", "MemberDetails", new { SortOrderPublished=ViewBag.DownloadSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("TOTAL EARNINGS", "MemberDetails", new { SortOrderPublished=ViewBag.EarningSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("DATE ADDED", "MemberDetails", new { SortOrderPublished=ViewBag.DateSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col">@Html.ActionLink("PUBLISHED DATE", "MemberDetails", new { SortOrderPublished=ViewBag.PublishedDateSortParamPublish,SearchPublished = Request.QueryString["SearchPublished"] })</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                      IPagedList<NotesMarketPlace.Models.MemberNotes> AllMemberNotes = ViewBag.MemberAllNotes;

                    }

                    @{ var count = 0;
                    if (AllMemberNotes.Count == 0)
                            {
                    <tr>
                        <td colspan="9" class="text-center NoRecord">No Records Found</td>
                    </tr>
                            }
                    foreach(var Note in AllMemberNotes)
                                {
                <tr>
                    <td>@(count + ((AllMemberNotes.PageNumber - 1) * AllMemberNotes.PageSize) + 1)</td>
                    <td><a href="/Admin/NoteDetailsAdmin/@Note.NoteDetails.SellerNotesID"> @Note.NoteDetails.Title</a></td>
                    <td> @Note.Category.Name</td>
                    <td> @Note.status.Value</td>
                    <td><a href="/Admin/DownloadNotes?Search=@Note.NoteDetails.Title"  class="count">@Note.NoteDetails.Downloads.Where(x=>x.NoteID == @Note.NoteDetails.SellerNotesID && x.IsSellerHasAllowedDownload == true && x.AttachmentPath != null && x.IsAttachmentDownloaded == true).Count()</a></td>
                    <td><a href="/Admin/DownloadNotes?SellerName=@ViewBag.User.FirstName@ViewBag.User.LastName">$<span class="count">@Note.NoteDetails.Downloads.Where(x=>x.NoteID == @Note.NoteDetails.SellerNotesID && x.IsSellerHasAllowedDownload == true && x.AttachmentPath != null ).Select(x=>x.PurchasedPrice).Sum()</span></a></td>
                    <td>
                       @Note.NoteDetails.ModifiedDate.Value.ToString("dd-MM-yyyy, HH:mm")
                    </td>
                    <td>
                        @if(@Note.status.Value == "Published"){
                       @Note.NoteDetails.PublishedDate.Value.ToString("dd-MM-yyyy, HH:mm")
                        }else{
                        <text>N/A</text>
                        }
                    </td>
                    <td>
                        <div class="dropdown admin-table">
                            <a class="dropbtn"><img src="~/Content/Admin/images/Dashboard/three-dot.png" alt="delete-icon" /></a>
                            <div class="dropdown-content">
                                <a href="/Member/DownloadAttechedFile/@Note.NoteDetails.SellerNotesID">
                                    Download
                                    Notes
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

                     {count = count+1;}
                    }

                    }
                </tbody>
            </table>
        </div>
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(AllMemberNotes, PublishedNotespage=> Url.Action("MemberDetails",new{PublishedNotespage,
                SearchPublished = Request.QueryString["SearchPublished"],
               SortOrderPublished = Request.QueryString["SortOrderPublished"]
                   })
                ,new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true,MaximumPageNumbersToDisplay = 5}
                )
    
                </div>
            </div>
        </div>
    </div>
</div>