@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container note-under-review">
    <div class="User-Dashboard">
        <div class="row dashboard-1">
            <div class="col-md-6 col-sm-6 col-xs-6
                                    text-left">
                <h3>Notes Under Review</h3>
            </div>
        </div>
    </div>
    <div class="progress-3">
        @using(Html.BeginForm("NotesUnderReview","Admin",FormMethod.Get,new{id="AllSeachNote"}))
                        {
        <div class="progress-notes-2">
            <div class="row">
                <div class="col-md-12">
                    <h6 id="seller-name">Seller</h6>
                </div>
            </div>
            <div class="row progress-dashboard">
                <div class="col-md-3 admin-label">
                    <div class="form-group">
                        @Html.DropDownList("SellerName",(SelectList)ViewBag.SellerName, "Select Seller", new { id = "SellerName", name = "SellerName", @class = "form-control",onchange="NoteFunction();" })

                    </div>
                </div>
                <div class="col-md-9 search-label text-right">
                    <div class="progress-note-btn">

                        <input type="text" name="Search" id="search-enter-progress" placeholder="Search" title="Type
                                                in a name">
                        <button type="submit">Search</button>

                    </div>
                </div>
            </div>
        </div>
        }
        <div class="progress-table" style="overflow-x:auto;">
            <table class="table" id="note-under-review-table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">SR NO.</th>
                        <th scope="col">@Html.ActionLink("TITLE", "NotesUnderReview", new { SortOrder=ViewBag.TitleSortParam,Search = Request.QueryString["Search"] })</th>
                        <th scope="col">@Html.ActionLink("CATEGORY", "NotesUnderReview", new { SortOrder=ViewBag.CategorySortParam,Search = Request.QueryString["Search"] })</th>
                        @* <th scope="col">SELLER</th>*@
                        <th scope="col">@Html.ActionLink("SELLER", "NotesUnderReview", new { SortOrder=ViewBag.SellerSortParam,Search = Request.QueryString["Search"] })</th>
                        <th></th>
                        @*<th scope="col">DATE ADDED</th>*@
                        <th scope="col">@Html.ActionLink("DATE ADDED", "NotesUnderReview", new { SortOrder=ViewBag.DateSortParam,Search = Request.QueryString["Search"] })</th>
                        @*<th scope="col">STATUS</th>*@
                        <th scope="col">@Html.ActionLink("STATUS", "NotesUnderReview", new { SortOrder=ViewBag.StatusSortParam,Search = Request.QueryString["Search"] })</th>
                        <th scope="col" class="text-center">ACTION</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                     IPagedList<NotesMarketPlace.Models.UnderReviewsNote> UnderReview = ViewBag.NotesUnderReview;
                    }

                    @{
                    var count = 0;
                    if (UnderReview.Count == 0)
                            {
                        <tr>
                            <td colspan="11" class="text-center NoRecord">No Records Found</td>
                        </tr>
                            }
                    }
                    @foreach(var item in UnderReview)
                                {
                    <tr>
                        <td>@(count + ((UnderReview.PageNumber - 1) * UnderReview.PageSize) + 1)</td>
                        <td>
                            <a href="/Admin/NoteDetailsAdmin/@item.NoteDetails.SellerNotesID">  @item.NoteDetails.Title</a>
                        </td>
                        <td>
                            @item.Category.Name
                        </td>
                        <td>@item.user.FirstName @item.user.LastName</td>
                        <td class="eye-image"><a href="/Admin/MemberDetails/@item.NoteDetails.SellerID"><img src="~/Content/admin/images/Dashboard/eye.png" alt=""></a> </td>
                        <td>
                            @item.NoteDetails.ModifiedDate
                        </td>
                        <td>@item.status.Value</td>
                        <td>
                            <div class="action-button">
                                @using(Html.BeginForm("Approve/"+ @item.NoteDetails.SellerNotesID,"Admin",FormMethod.Get,new{id="AllSeachNote"}))
                                        {
                                <button onclick="return confirm('Are You Sure for Approve !!')" type="submit" class="btn btn-success">
                                    Approve
                                </button>
                            }
                                <button class="btn btn-danger reject-button" data-toggle="modal" data-target="#@item.NoteDetails.SellerNotesID-Reject">
                                    Reject
                                </button>

                                @using(Html.BeginForm("InReview/"+ @item.NoteDetails.SellerNotesID,"Admin",FormMethod.Get,new{id="AllSeachNote"}))
                                        {
                                <button onclick="return confirm('Are You Sure for InReview !!')" type="submit" class="btn btn-secondary inreview-button" id="">
                                    InReview
                                </button>
                            }
                                <!-- Modal -->
                                <div class="modal fade reject-modal" id="@item.NoteDetails.SellerNotesID-Reject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">@item.NoteDetails.Title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            @using(Html.BeginForm("RejectedNote/"+ @item.NoteDetails.SellerNotesID,"Admin",FormMethod.Get,new{id="AllSeachNote"}))
                                        {
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <div class="justify-content-start">
                                                        <h6>
                                                            <br>
                                                            Remarks
                                                        </h6>
                                                    </div>
                                                    <textarea class="form-control" name="Remarks" id="exampleFormControlTextarea1" rows="5" placeholder="Write Remarks" required></textarea>
                                                </div>

                                            </div>
                                            <div class="modal-footer justify-content-end">
                                                <button type="submit" class="btn btn-danger" id="reject-button">Reject</button>
                                                <button class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
                                            </div>
                                        }
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="dropdown admin-table">
                                <a class="dropbtn"><img src="~/Content/admin/images/Dashboard/three-dot.png" alt="delete-icon" /></a>
                                <div class="dropdown-content">
                                    <a href="/Member/DownloadAttechedFile/@item.NoteDetails.SellerNotesID">
                                        Download
                                        Notes
                                    </a>
                                    <a href="/Admin/NoteDetailsAdmin/@item.NoteDetails.SellerNotesID">
                                        View More
                                        Details
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                      {count = count+1;}

                                }
                </tbody>
            </table>
        </div>
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">

                    @Html.PagedListPager(UnderReview, page=> Url.Action("NotesUnderReview",new{page,
                   Search = Request.QueryString["Search"],
                  SortOrder = Request.QueryString["Search"]
                      })
                   ,new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true}
                   )

                </div>
            </div>
        </div>
    </div>
</div>
