@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container note-under-review">
    <div class="User-Dashboard">
        <div class="row dashboard-1">
            <div class="col-md-12">
                @if(TempData["RejectedApprove"] != null){
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@TempData["RejectedApprove"]</strong><b>@TempData["title"]</b> @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 }
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6
                                    text-left">
                <h3>Rejected Notes</h3>
            </div>
        </div>
    </div>
    <div class="progress-3">
        @using(Html.BeginForm("NotesRejected","Admin",FormMethod.Get,new{id="AllSeachNote"}))
                        {
        <div class="progress-notes-2">
            <div class="row">
                <div class="col-md-12">
                    <h6 id="seller-name">Seller</h6>
                </div>
            </div>
            <div class="row progress-dashboard">
                <div class="col-md-3 admin-label">
                    <div class="form-group">
                        @Html.DropDownList("SellerName",(SelectList)ViewBag.SellerName, "Select Seller", new { id = "SellerName", name = "SellerName", @class = "form-control",onchange="NoteFunction();" })

                    </div>
                </div>
                <div class="col-md-9 search-label text-right">
                    <div class="progress-note-btn">

                        <input type="text" name="Search" id="search-enter-progress" placeholder="Search" title="Type
                                                in a name">
                        <button type="submit">Search</button>

                    </div>
                </div>
            </div>
        </div>
        }
        <div class="progress-table" style="overflow-x:auto;">
            <table class="table" id="rejected-note-table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">SR NO.</th>
                        <th scope="col">@Html.ActionLink("TITLE", "NotesRejected", new { SortOrder=ViewBag.TitleSortParam,Search = Request.QueryString["Search"] })</th>
                        <th scope="col">@Html.ActionLink("CATEGORY", "NotesRejected", new { SortOrder=ViewBag.CategorySortParam,Search = Request.QueryString["Search"] })</th>
                        <th scope="col">@Html.ActionLink("SELLER", "NotesRejected", new { SortOrder=ViewBag.SellerSortParam,Search = Request.QueryString["Search"] })</th>
                        <th></th>
                        <th scope="col">@Html.ActionLink("DATE ADDED", "NotesRejected", new { SortOrder=ViewBag.DateSortParam,Search = Request.QueryString["Search"] })</th>
                        <th scope="col">@Html.ActionLink("Rejected By", "NotesRejected", new { SortOrder=ViewBag.RejectedBySortParam,Search = Request.QueryString["Search"] })</th>
                        <th scope="col" class="text-center">Remark</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                     IPagedList<NotesMarketPlace.Models.RejectedNoteAdmin> RejectedNote = ViewBag.NotesRejected;
                    }

                    @{
                    var count = 0;
                    if (RejectedNote.Count == 0)
                            {
                        <tr>
                            <td colspan="9" class="text-center NoRecord">No Records Found</td>
                        </tr>
                            }
                    }
                    @foreach(var item in RejectedNote)
                                {

                    <tr>
                        <td>@(count + ((RejectedNote.PageNumber - 1) * RejectedNote.PageSize) + 1)</td>
                        <td>
                            <a href="/Admin/NoteDetailsAdmin/@item.NoteDetails.SellerNotesID">  @item.NoteDetails.Title</a>
                        </td>
                        <td>
                            @item.Category.Name
                        </td>
                        <td>@item.user.FirstName @item.user.LastName</td>
                        <td class="eye-image"><a href="/Admin/MemberDetails/@item.user.UserID"><img src="~/Content/admin/images/Dashboard/eye.png" alt=""></a> </td>
                        <td>
                            @item.NoteDetails.ModifiedDate.Value.ToString("dd-MM-yyyy, HH:mm")
                        </td>
                        <td>@item.admin.FirstName @item.admin.LastName</td>
                        <td>
                            @item.NoteDetails.AdminRemarks
                        </td>
                        <td>
                            <div class="dropdown admin-table">
                                <a class="dropbtn"><img src="~/Content/Admin/images/Dashboard/three-dot.png" alt="delete-icon" /></a>
                                <div class="dropdown-content">
                                    <a href="/Admin/ApproveRejected/@item.NoteDetails.SellerNotesID">Approve</a>
                                    <a href="/Admin/DownloadAttechedFile/@item.NoteDetails.SellerNotesID">Download Notes</a>
                                    <a href="/Admin/NoteDetailsAdmin/@item.NoteDetails.SellerNotesID">
                                        View More
                                        Details
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                      {count = count+1;}

                                }
                </tbody>
            </table>
        </div>
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">

                    @Html.PagedListPager(RejectedNote, page=> Url.Action("NotesRejected",new{page,
                   Search = Request.QueryString["Search"],
                  SortOrder = Request.QueryString["SortOrder"],
                     SellerName = Request.QueryString["SellerName"],
                      })
                   ,new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true,MaximumPageNumbersToDisplay = 5}
                   )

                </div>
            </div>
        </div>
    </div>
</div>
